
@{
    ViewBag.Title = "PostBulkMeterReadingFileToAPI";


}

<h2>Bulk Update Meter Reading File To Database</h2>

@using (Html.BeginForm("PostBulkMeterReadingFileToAPI", "MeterReading",FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" accept=".csv"/>
    <input type="submit" name="Submit" id="Submit" value="Upload"/>

    
    <label>@ViewBag.Response</label>
    
}

